.title {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: wheat;
}

.fade-in-title {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.visible-title {
  opacity: 1;
}
