.weather-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 3.5rem;
}

.weather-fade-in {
  transition: opacity 5s ease-in;
}

.location-text {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  /* left: 28%; */
}

.fade-in {
  transition: opacity 5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 5s ease-out;
}

.opacity-visible {
  opacity: 1;
}

.opacity-invisible {
  opacity: 0;
}

.morning {
  color: rgb(84, 73, 139);
}

.night {
  color: rgb(255, 243, 208);
}
